.Dropdown {
  position: relative;
  width: 100%;
  user-select: none;

  &[active] .section {
    display: block;
  }

  &[active] .svg {
    transform: rotateX(60deg);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.svg {
  transform: rotateX(0);
  @include svg-size(1.25em);
  @include transition('transform', fast);
}

.section {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 0.5rem;
  overflow: hidden;
}

.ul {
  max-height: 20rem;
  overflow-y: auto;
  list-style: none;
}

.ul,
.li {
  min-width: max-content;
}

.li {
  cursor: pointer;
}
