.nav,
.logo,
.listContainer,
.linkList {
  display: flex;
}

.logo,
.linkList {
  gap: fluid($s8, $s12);
}

.nav {
  align-items: center;
  justify-content: space-between;
  padding-block: fluid($s16, $s24);
}

.logo {
  $size: fluid($s32, $s36);
  align-items: center;

  svg {
    height: $size;
    width: $size;
  }

  h1 {
    color: v(accent);
    font-size: calc($size - 0.4rem);
  }
}

.listContainer,
.linkList__primary {
  flex-grow: 1;

  @include break-down($lg) {
    flex-direction: column;
    flex-grow: 0;
  }
}

.dialog {
  flex: 1;
  background: none;
  border: none;
  position: relative;
  z-index: 1;

  &:not([open]) {
    display: block;
  }

  &::backdrop {
    display: none;
  }

  @include break-down($lg) {
    position: fixed;
    inset: 0;
    transition: visibility 0s ease var(--slow);

    &:not([open]) {
      visibility: hidden;
    }
  }

  &[open] {
    @include break-down($lg) {
      transition: none;

      .listContainer {
        right: 0;
      }

      .listBackdrop {
        opacity: 0.95;
        pointer-events: all;
      }
    }
  }
}

.listContainer {
  @include break-down($lg) {
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 200;
    width: min(33rem, 100%);
    min-height: 100vh;
    padding: $s20;
    gap: $s40;
    background-color: v(background);
    @include animate('right', slow);
  }
}

.listBackdrop {
  position: fixed;
  inset: 0;
  z-index: 200;
  background-color: v(c800);
  background-blend-mode: multiply;
  opacity: 0;
  pointer-events: none;
  @include animate('opacity', slow);
}

.linkList {
  list-style: none;
  align-items: center;

  &__primary {
    justify-content: center;
  }

  @include break-down($lg) {
    align-items: flex-start;

    &__cta {
      flex-direction: column-reverse;
    }
  }
}

.navLink,
.linkList__cta button {
  font-size: fluid($s14, $s16);

  @include break-down($lg) {
    width: 100%;
  }
}

.navLink {
  color: v(foreground);
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    background-color: v(c100);
  }

  &:active {
    background-color: v(c200);
  }

  &.active {
    color: v(accent);

    @include break-down($lg) {
      background-color: v(c200);
    }
  }

  svg {
    width: 1em;
    margin-right: 0.8em;
    path {
      fill: currentColor;
    }
  }
}

.showDialog,
.closeDialog {
  background: none;
  display: none;
  width: 3rem;
  height: 3rem;

  @include break-down($lg) {
    display: block;
  }
  
  svg{
    height: 100%;
    width: 100%;
  }

  path {
    stroke: v(accent);
  }
}

.closeDialog {
  padding: 0.5rem;
  margin-right: 1rem;
  align-self: end;
}
