.nav,
.listContainer,
.linkList {
  display: flex;
}

.nav {
  align-items: center;
  justify-content: space-between;
  padding-block: fluid(1.6rem, 2.4rem);
}

.listContainer,
.linkList__primary {
  flex-grow: 1;

  @include break-down($lg) {
    flex-direction: column;
    flex-grow: 0;
  }
}

.dialog {
  flex: 1;
  background: none;
  border: none;
  position: relative;
  z-index: 1;

  &:not([open]) {
    display: block;
  }

  &::backdrop {
    display: none;
  }

  @include break-down($lg) {
    position: fixed;
    inset: 0;
    transition: visibility 0s ease var(--slow);

    &:not([open]) {
      visibility: hidden;
    }
  }

  &[open] {
    @include break-down($lg) {
      transition: none;

      .listContainer {
        right: 0;
      }

      .listBackdrop {
        opacity: 0.95;
        pointer-events: all;
      }
    }
  }
}

.listContainer {
  @include break-down($lg) {
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 200;
    width: min(33rem, 100%);
    min-height: 100vh;
    padding: 2rem;
    gap: 4rem;
    background-color: v(background);
    @include transition('right', slow);
  }
}

.listBackdrop {
  position: fixed;
  inset: 0;
  z-index: 200;
  background-color: v(c800);
  background-blend-mode: multiply;
  opacity: 0;
  pointer-events: none;
  @include transition('opacity', slow);
}

.linkList {
  list-style: none;
  align-items: center;
  gap: fluid(0.8rem, 1.2rem);

  &__primary {
    justify-content: center;
  }

  @include break-down($lg) {
    align-items: flex-start;

    &__cta {
      flex-direction: column;
    }
  }
}

.navLink,
.linkList__cta button {
  @include break-down($lg) {
    width: 100%;
  }
}

.navLink {
  color: v(foreground);
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    background-color: v(c100);
  }

  &:active {
    background-color: v(c200);
  }

  &.active {
    color: v(accent);

    @include break-down($lg) {
      background-color: v(c200);
    }
  }

  svg {
    width: 1em;
    margin-right: 0.8em;
    path {
      fill: currentColor;
    }
  }
}

.showDialog,
.closeDialog {
  $size: fluid(2.8rem, 3.2rem);
  background: none;
  display: none;
  width: $size;
  height: $size;

  @include break-down($lg) {
    display: block;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  path {
    stroke: v(accent);
  }
}

.closeDialog {
  padding: fluid(0.4rem, 0.6rem);
  margin-right: 1rem;
  align-self: end;
}
