.hero {
  position: relative;
  background-image: linear-gradient(
      90deg,
      var(--background) 0%,
      var(--background) 100%
    ),
    url(@ass/bg-left.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-blend-mode: hue;

  &__content {
    height: inherit;
    width: 50%;
  }

  &__title {
    padding-block: var(--s44) var(--s24);
    font-size: 5rem;
    line-height: 1.2;
  }

  &__description {
    margin-bottom: var(--s48);
  }

  &__buttons {
    margin-bottom: var(--s16);
  }
}
