.hero {
  overflow: hidden; // apatoto
  background-image: linear-gradient(90deg, v(background) 0%, v(background) 100%),
    url(@ass/bg-left.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-blend-mode: hue;

  :global(.wrapper) {
    padding-block: fluid($s-8, $s-48);
    display: flex;
    gap: $s-64;

    @include break-down($md) {
      flex-direction: column;
    }

    & > * {
      flex: 1;
    }
  }

  &__content {
    padding-top: fluid($s-4, $s-48);

    @include break-down($md) {
      max-width: fluid(48rem, 32rem);
      text-align: center;
      align-self: center;
    }
  }

  &__quote {
    width: 85%;
    margin-bottom: $s-56;

    @include break-down($lg) {
      width: 100%;
    }

    @include break-down($md) {
      margin-bottom: $s-52;
    }
  }

  &__title {
    font-size: fluid($s-36, $s-48);
    line-height: 1.2;
    letter-spacing: 0.015em;
    color: v(foreground);
    margin-block-end: fluid($s-16, $s-20);
    font-family: 'Montserrat', sans-serif;

    @include break-down($md) {
      margin-bottom: $s-20;
    }

    @include break-down($sm) {
      letter-spacing: 0;
    }
  }

  &__description {
    font-size: fluid($s-14, $s-16);
    opacity: 0.9;
  }

  &__buttons {
    display: flex;
    gap: $s-12;
    margin-bottom: $s-12;

    button {
      font-size: fluid($s-16, $s-18);
    }

    @include break-down($md) {
      justify-content: center;
    }
  }

  &__status {
    font-size: fluid($s-12, $s-16);
  }

  &__description,
  &__status {
    letter-spacing: 0.05em;

    @include break-down($md) {
      letter-spacing: 0.025em;
    }
  }

  .showOffContainer {
    background: red;
  }

  .showOff {
    position: relative;

    &__eye,
    &__desktop {
      @include break-down($sm) {
        display: none;
      }
    }

    &__eye {
      position: absolute;
      top: 0;
      right: 0;
      width: $s-92;
      height: $s-84;
    }

    &__mobile,
    &__desktop {
      --box-shadow: #000;
      background-position: center;
      background-size: cover;
      background-color: var(--box-shadow);
      box-shadow: 0 0 $s-8 v(box-shadow);
    }

    &__desktop {
      --box-shadow: #{v(c200)};
      position: absolute;
      top: 8rem;
      aspect-ratio: 18 / 9;
      height: 36rem;
      border-radius: $s-12;
    }

    &__mobile {
      --box-shadow: #{v(c300)};
      position: absolute;
      top: 15rem;
      left: 8rem;
      aspect-ratio: 1 / 2;
      height: 38rem;
      border-radius: $s-8;
      border: fluid($s-2, $s-4) solid v(foreground);
      border-block-width: $s-6;

      @include break-down($md) {
        position: relative;
        top: 4rem;
        left: 4rem;
      }

      @include break-down($sm) {
        top: 0;
        left: 0;
        margin-inline: auto;
        height: unset;
        width: calc(25rem + 15vw);
        max-width: 90%;
        margin-bottom: -$s-120;
      }
    }
  }
}
