.hero {
  overflow: hidden; // apatoto
  background-image: linear-gradient(90deg, v(background) 0%, v(background) 100%),
    url(@ass/bg-left.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-blend-mode: hue;

  :global(.wrapper) {
    padding-block: fluid(0.8rem, 4.8rem);
    display: flex;
    gap: 6.4rem;

    @include break-down($md) {
      flex-direction: column;
    }

    & > * {
      flex: 1;
    }
  }

  &__content {
    padding-top: fluid(0.4rem, 4.8rem);

    @include break-down($md) {
      max-width: fluid(48rem, 32rem);
      text-align: center;
      align-self: center;
    }
  }

  &__quote {
    width: 85%;
    margin-bottom: 5.6rem;

    @include break-down($lg) {
      width: 100%;
    }

    @include break-down($md) {
      margin-bottom: 5.2rem;
    }
  }

  &__title {
    font-size: fluid(3.8rem, 5.5rem);
    letter-spacing: 0.015em;
    line-height: 1.2;
    color: v(foreground);
    margin-block-end: fluid(1.6rem, 2rem);
    font-weight: 700;

    @include break-down($md) {
      margin-bottom: 2rem;
    }

    @include break-down($sm) {
      letter-spacing: 0;
    }
  }

  &__description {
    @include font(bd1);
    opacity: 0.9;
  }

  &__buttons {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1.2rem;

    @include break-down($md) {
      justify-content: center;
    }
  }

  &__status {
    @include font(bd2);
  }

  &__description,
  &__status {
    letter-spacing: 0.05em;

    @include break-down($md) {
      letter-spacing: 0.025em;
    }
  }

  .showOffContainer {
    background: red;
  }

  .showOff {
    position: relative;

    &__eye,
    &__desktop {
      @include break-down($sm) {
        display: none;
      }
    }

    &__eye {
      position: absolute;
      top: 0;
      right: 0;
      width: 9.2rem;
      height: 8.4rem;
    }

    &__mobile,
    &__desktop {
      --box-shadow: #000;
      background-position: center;
      background-size: cover;
      background-color: var(--box-shadow);
      box-shadow: 0 0 0.8rem v(box-shadow);
    }

    &__desktop {
      --box-shadow: #{v(c200)};
      position: absolute;
      top: 8rem;
      aspect-ratio: 18 / 9;
      height: 36rem;
      border-radius: 1.2rem;
    }

    &__mobile {
      --box-shadow: #{v(c300)};
      position: absolute;
      top: 15rem;
      left: 8rem;
      aspect-ratio: 1 / 2;
      height: 38rem;
      border-radius: 0.8rem;
      border: fluid(0.2rem, 0.4rem) solid v(foreground);
      border-block-width: 0.6rem;

      @include break-down($md) {
        position: relative;
        top: 4rem;
        left: 4rem;
      }

      @include break-down($sm) {
        top: 0;
        left: 0;
        margin-inline: auto;
        height: unset;
        width: calc(25rem + 15vw);
        max-width: 90%;
        margin-bottom: -12rem;
      }
    }
  }
}
