@use '@abs/core' as *;

.nav,
.logo,
.listContainer,
.linkList {
  display: flex;
}

.logo,
.linkList {
  gap: clamp($s8, 1vw, $s8);
}

.nav {
  justify-content: space-between;
  padding-block: $s24;
}

.logo {
  $size: clamp($s32, 11vw, $s44);
  align-items: center;

  svg {
    height: $size;
    width: $size;
  }

  h1 {
    color: var(--accent);
    font-size: calc($size - 0.4rem);
  }
}

.listContainer,
.linkList__primary {
  flex-grow: 1;

  @include break-down($lg) {
    flex-direction: column;
    flex-grow: 0;
  }
}

nav.navActive {
  @include break-down($lg) {
    .listContainer {
      right: 0;
    }

    .listBackdrop {
      opacity: 0.95;
      pointer-events: all;
    }
  }
}

.listContainer {
  @include break-down($lg) {
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 200;

    width: min(33rem, 100%);
    min-height: 100vh;
    padding-block-start: min($s84, 10vmax);
    padding-inline: $s20;
    gap: $s40;

    background-color: var(--background);
  }
}

.listBackdrop {
  position: fixed;
  inset: 0;
  z-index: 200;
  background-color: var(--c800);
  background-blend-mode: multiply;
  opacity: 0;
  pointer-events: none;
}

.linkList {
  list-style: none;
  align-items: center;

  &__primary {
    justify-content: center;
  }

  @include break-down($lg) {
    align-items: flex-start;

    &__cta {
      flex-direction: column-reverse;
    }
  }
}

.navLink,
.navButton {
  font-weight: bold;
  color: var(--foreground);
  border-radius: $s8;

  @include break-down($lg) {
    width: 100%;
  }
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: $s16;
  padding: 0.5em 1.5em;

  &:hover {
    background-color: var(--c100);
  }

  &:active {
    background-color: var(--c200);
  }

  &.active {
    pointer-events: none;
    color: var(--accent);

    @include break-down($lg) {
      background-color: var(--c200);
    }
  }

  svg {
    width: 1em;
    margin-right: 0.8em;
  }
}

.navButton {
  font-size: $s16;
  padding: 0.5em 1.3em;
  border: 0;

  &__primary {
    background-color: var(--c100);

    &:hover {
      background-color: var(--c200);
    }

    &:active {
      background-color: var(--c300);
    }
  }

  &__secondary {
    color: var(--c000);
    background-color: var(--accent);

    &:hover {
      background-color: var(--c500);
    }

    &:active {
      background-color: var(--c700);
    }
  }
}

.linkToggle {
  position: relative;
  z-index: 300;
  display: none;

  @include break-down($lg) {
    display: block;
  }
}
