@use '../../styles/abstracts/break' as *;

.nav,
.logo,
.listContainer,
.linkList {
  display: flex;
}

.logo,
.linkList {
  gap: clamp(var(--s8), 1vw, var(--s12));
}

.nav {
  justify-content: space-between;
}

.logo {
  --size: clamp(var(--s36), 11vw, var(--s52));
  align-items: center;

  svg {
    height: var(--size);
    width: var(--size);
  }

  h1 {
    color: var(--accent);
    font-size: calc(var(--size) - 0.4rem);
  }
}

.listContainer,
.linkList__primary {
  flex-grow: 1;

  @include break-down($lg) {
    flex-direction: column;
    flex-grow: 0;
  }
}

nav.navActive {
  .listContainer {
    right: 0;
  }
  .listBackdrop {
    opacity: 0.95;
    pointer-events: all;
  }
}

.listContainer {
  @include break-down($lg) {
    position: absolute;
    top: 0;
    right: -100vw;
    z-index: 200;

    width: 33rem;
    height: 100vh;

    background-color: var(--background);
  }
}

.listBackdrop {
  position: fixed;
  inset: 0;
  z-index: 200;
  background-color: var(--c800);
  background-blend-mode: multiply;
  opacity: 0;
  pointer-events: none;
}

.linkList {
  list-style: none;
  align-items: center;

  &__primary {
    justify-content: center;
  }

  @include break-down($lg) {
    align-items: flex-start;

    &__cta {
      flex-direction: column-reverse;
    }
  }
}

.navLink,
.navButton {
  font-weight: bold;
  color: var(--foreground);
  border-radius: var(--s8);

  @include break-down($lg) {
    flex-grow: 1;
  }
}

.navLink {
  text-decoration: none;
  font-size: var(--s16);
  padding: 1em 1.75em;

  &:hover {
    background-color: var(--c100);
  }
  &:active {
    background-color: var(--c200);
  }

  &.active {
    color: var(--accent);
  }
}

.navButton {
  font-size: clamp(var(--s16), 2vw, var(--s20));
  padding: 0.5em 1.3em;
  border: 0;

  &__primary {
    background-color: var(--c100);

    &:hover {
      background-color: var(--c200);
    }
    &:active {
      background-color: var(--c300);
    }
  }

  &__secondary {
    color: var(--c000);
    background-color: var(--accent);

    &:hover {
      background-color: var(--c500);
    }
    &:active {
      background-color: var(--c700);
    }
  }
}

.linkToggle {
  position: relative;
  z-index: 300;
  display: none;

  @include break-down($lg) {
    display: block;
  }
}
