@use '@abs/core' as *;

.face {
  background-color: v(c300);
  border-radius: 200vw 200vw 0 0;
  height: 100%;
  box-shadow: 0 0 $s-28 v(c300);
  position: relative;
  cursor: pointer;
  top: 0;
  @include transition('top');

  &:hover,
  &.hide {
    top: $s-10;

    .eyeBox::before {
      bottom: 0;
    }
  }
}

.eyesContainer {
  width: 83%;
  display: flex;
  gap: 8.5%;
  position: absolute;
  top: 30%;
  left: -10%;
  border-radius: 100vmax;
}

.eyeBox {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: v(background);
  border-radius: 50%;

  &::before {
    $timingFn: cubic-bezier(0.11, 0, 0.5, 0);
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    inset: 0;
    bottom: 100%;
    background: v(c450);
    transition: bottom 0.25s $timingFn;
  }
}

.eye {
  aspect-ratio: 1;

  &::before {
    $size: 35%;
    $position: 17%;
    content: '';
    display: block;
    width: $size;
    height: $size;
    position: absolute;
    top: $position;
    left: $position;
    background: v(foreground);
    border-radius: 50%;
  }
}
