@use '$styles/abstracts/core' as *;

.button {
  font-weight: bold;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  @include transition('background-color');
  text-decoration: none;
  line-height: 1.5; // Sync this with Button.module.scss(Button.jsx) loading height

  &[disabled] {
    opacity: 0.65;
  }

  &__primary {
    background-color: v(accent);
    color: v(background);

    &:not([disabled]) {
      &:hover {
        background-color: v(c500);
      }

      &:active {
        background-color: v(c600);
      }
    }
  }

  &__secondary {
    background-color: v(c100);
    color: v(foreground);

    &:not([disabled]) {
      &:hover {
        background-color: v(c200);
      }

      &:active {
        background-color: v(c300);
      }
    }
  }

  &__tertiary {
    background-color: transparent;
    color: v(foreground);
    border-radius: 0.25rem;
    outline: 0.2rem solid v(accent);

    &:not([disabled]) {
      &:hover {
        background-color: v(c200);
      }

      &:active {
        background-color: v(c300);
      }
    }
  }

  &__red {
    background-color: v(error);
    color: v(background);
    transition-property: opacity;

    &:not([disabled]) {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}
