.TaskControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.taskCount {
  color: v(c600);
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &,
  input,
  label {
    cursor: pointer;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dropdownButton {
  --active-bg: var(--c100);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.1rem solid v(accent);
  background: transparent;
  transition: background 0.1s ease-in-out;
  color: v(c700);

  svg {
    $size: 0.85em;
    width: $size;
    max-width: $size;
    height: $size;
    max-height: $size;

    path {
      stroke: currentColor;
    }
  }
}
