.TaskList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  & > * {
    min-width: 30rem;
    max-width: 37.5rem;
    flex-grow: 1;
    flex-basis: 30%;

    @include break-down(30rem) {
      min-width: 100%;
    }
  }
}
