.Task {
  background: v(c100);
  box-shadow: 0 0 1rem -0.65rem v(accent);
  position: relative;

  @include break-down(25em) {
    min-width: 100%;
  }
}

.Task,
.main {
  border-radius: 0.5rem;
  overflow: hidden;
}

.main {
  --separator-line-color: var(--c300);

  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 2rem;
  @include transition('background', fast);
}

.completed {
  background: v(c300);

  .main {
    --separator-line-color: var(--c400);
  }

  .top,
  .middle {
    text-decoration: line-through;
    color: v(accent);
  }
}

.top,
.middle {
  @include transition('color', fast);
}

.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top {
  margin-bottom: 1rem;
  gap: 1.75rem;
}

.middle {
  font-size: 1.5rem;
  line-height: 1.5;
  word-break: break-all;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 4.5rem;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.title {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5em;

  h6 {
    font-weight: 700;
    letter-spacing: 0;
  }
}

.checkBox {
  border-width: 0.1rem;
}

.bottom {
  margin-top: auto;
  padding-top: 1rem;
  border-top: 0.1rem solid v(separator-line-color);
  color: v(c700);
}

.time {
  display: flex;
  align-items: center;
  gap: 0.5em;
  @include font(bd3);

  p {
    font-size: 1em;
  }
}

.users {
  display: flex;

  img {
    display: inline-block;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    border: 0.2rem solid v(background);

    &:not(:last-child) {
      margin-right: -0.5rem;
    }
  }
}

.backdrop {
  position: absolute;
  inset: 0;
  right: 100%;
  background: v(c600);
  opacity: 0;
  backdrop-filter: blur(20px);

  --transision-duration: 0.3s;
  --default-transition: opacity var(--transision-duration) ease-in-out;
  transition: var(--default-transition), right 0s var(--transision-duration);
}

.context {
  box-shadow: 0 0 1rem v(c600);
  position: absolute;
  inset: 0;
  background: v(accent);
  left: auto;
  width: 0;
  display: flex;
  flex-direction: column;
  @include transition('width');

  & > * {
    flex: 1;
    border-radius: 0;
    background: none;
    padding: 1rem;
    color: v(background);
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition('background, color');

    &:hover {
      background: v(c600);
    }

    &:focus,
    &:active {
      background: v(c700);
    }

    svg {
      font-size: 1.85rem;
    }
  }
}

.contextActive .context {
  width: 3.85rem;
}

.contextActive .backdrop {
  transition: var(--default-transition);
  right: 0;
  opacity: 0.5;
}
