.Task {
  background: v(c300);
  box-shadow: 0 0 1rem -0.65rem v(accent);
  display: flex;

  @include break-down(25em) {
    min-width: 100%;
  }
}

.Task,
.main {
  border-radius: 0.5rem;
  overflow: hidden;
}

.main {
  --separator-line-color: var(--c300);

  background: v(c100);
  flex: 1;
  padding: 1.25rem 2rem;
  @include transition('background', fast);
}

.completed {
  background: v(c400);

  .main {
    background: v(c300);
  }

  .top,
  .middle {
    text-decoration: line-through;
    color: v(accent);
  }

  .context a {
    color: var(--background);

    &:hover {
      background: v(c600);
    }
  }
}

.top,
.middle {
  @include transition('color', fast);
}

.top,
.bottom {
  display: flex;
  align-items: center;

  & > *:first-child {
    flex: 1;
  }

  h6 {
    font-weight: 700;
  }
}

.top {
  margin-bottom: 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.checkBox {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  z-index: -999;

  & + label {
    background: v(background);
    border-radius: 0.5rem;
    outline: 0.15rem solid v(accent);
    @include svg-size(1.65rem);
    display: grid;
    place-content: center;
    padding: 0.3rem;
    cursor: pointer;

    svg {
      display: none;
      color: v(c100);
    }
  }

  &:checked + label {
    background: v(accent);

    svg {
      display: block;
    }
  }

  &:focus + label {
    outline: 0.1rem solid v(accent);
    outline-offset: 0.2rem;
  }

  &:disabled + label {
    cursor: not-allowed;
  }
}

.bottom {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 0.1rem solid v(separator-line-color);
  color: v(c700);
}

.time {
  display: flex;
  align-items: center;
  gap: 0.5em;
  @include font(bd3);

  p {
    font-size: 1em;
  }
}

.users {
  display: flex;
  flex-direction: row-reverse;

  img {
    display: inline-block;
    width: 2.25rem;
    margin-left: -0.45rem;
    border-radius: 50%;
    border: 0.2rem solid v(background);
  }
}

.context {
  overflow: hidden;
  width: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  @include transition('width');

  & > * {
    flex: 1;
  }

  a,
  button {
    background: none;
    padding: 1rem;
    color: v(foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(' background, color');

    &:hover {
      background: v(c400);
      color: v(background);
    }

    svg {
      font-size: 1.85rem;
    }
  }
}

.contextActive .context {
  visibility: visible;
  width: 3.85rem;
}
