.TaskControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.taskCount {
  color: v(c600);
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &,
  input,
  label {
    cursor: pointer;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
