.TaskList {
  display: grid;
  gap: 2rem;

  --w1: 95rem;
  --n: 3;
  --w2: 67.5rem;
  --m: 2;
  --w3: 40rem;
  --p: 1;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      clamp(
        clamp(
          clamp(
            100%/ (var(--n) + 1) + 0.1%,
            (var(--w1) - 100%) * 1000,
            100%/ (var(--m) + 1) + 0.1%
          ),
          (var(--w2) - 100%) * 1000,
          100%/ (var(--p) + 1) + 0.1%
        ),
        (var(--w3) - 100%) * 1000,
        100%
      ),
      1fr
    )
  );
}
