.dropdown {
  width: 100%;
  max-width: 30rem;
}

.button {
  background: v(c100);
  border-radius: 0.5rem;
  gap: 1rem;
  width: 100%;
  text-align: right;
  @include transition('outline, background', fast);
}

.dropdown[active] .button {
  background: v(c200);
  outline-color: v(c400);
}

.section {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem -0.40rem v(c600);
}

.ul {
  padding: 0;
  background: v(c100);
}

.label {
  padding: 0.65rem 1.5rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.color {
  @include svg-size(1.1em);
  border-radius: 50%;
  background: black;
}
.name {
}

.li:hover {
  background: v(c200);
}

.li[active] {
  background: v(c300);
}

.li:not(:last-child) .label {
  border-bottom: 0.2rem solid v(c300);
}

.svg {
  margin-right: 1.33rem;

  path {
    stroke: v(accent);
  }
}
