.collectionDropdown {
  width: 100%;
  max-width: 30rem;
}

.collectionDropdownButton {
  background: v(c100);
  padding-right: 1rem;
  @include transition('outline, background', fast);
  outline: 0.2rem solid v(c200);
  border-radius: 0.5rem;
  gap: 1rem;

  label {
    margin: 0 !important;
  }
}

.collectionDropdown[open] .collectionDropdownButton {
  background: v(c200);
  outline-color: v(c300);
}

.collectionDropdownBody {
  padding: 0;
}
