.FloatingContent {
  width: fit-content;
  display: flex;
  align-items: stretch;
  gap: 0.75rem;
}


.Dropdown[active] {
  .section {
    z-index: 99;
  }
}

.float {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.button,
.addButton,
.section {
  border-radius: 0.5rem;
  background: v(background);
  box-shadow: 0 0 0.75rem v(c200);
  @include transition('background', fast);
}

.button,
.li {
  padding: 0.25rem 0.75rem;
}

.li {
  border-bottom: 0.1rem solid v(c200);
}

.addButton {
  font-size: 2rem;
  padding: 0;
  padding-inline: 0.35rem;

  &:hover {
    background: v(c300);
  }
}
