.TaskForm {
  input,
  textarea {
    width: 100%;
    background: v(c100);
    outline-width: 2px;
    outline-color: v(c200);
    border-radius: 0.5rem;
    @include transition('outline', fast);
    padding: 0.65rem 1rem;
    color: v(c600);
    font-weight: normal;

    &:focus {
      outline-color: v(c400);
    }
  }

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.formGroup {
  p {
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
}

.taskDateGroup {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  & > * {
    flex: 1;
  }
}

.taskCollection,
.taskParticipants {
  .formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    p {
      margin-bottom: 0;
    }
  }
}

.taskParticipants {
  .formGroup svg {
    @include svg-size(1.1em);
  }
}

.submitButton {
  width: 100%;
  margin-top: 1rem;
  @include font(btn1);
}
