.TaskForm {
  height: 100%;
  display: flex;
  flex-direction: column;

  :global(.wrapper) {
    padding: 2rem 3rem;
  }
}

.header {
  background: v(c200);
  box-shadow: 0 0 1rem -0.65rem v(c700);

  :global(.wrapper) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background: none;
    padding: 0.5rem 0.75rem;
  }

  svg {
    @include svg-size(1em);
  }
}

.body {
  height: auto;
}
