.header,
.body {
  :global(.wrapper) {
    padding: 2rem 3rem;
  }
}

.header {
  background: v(c200);
  box-shadow: 0 0 1rem -0.65rem v(c700);

  :global(.wrapper) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background: none;
    padding: 0.25rem;
  }

  svg {
    transform: rotate(45deg);
    font-size: 2.2rem;
  }
}

.body {
  height: 100%;
  overflow-y: auto;

  :global(.wrapper) {
    padding-bottom: 4rem;
  }
}
