.Layout {
  display: flex;
  min-height: 100vh;

  @include break-down($lg) {
    flex-direction: column;

    [main-loading-component] {
      height: auto;
      width: auto;
      min-height: auto;
      min-width: auto;
    }

    & > *:not(:last-child) {
      flex: 1;
    }
  }

  @include break-up($lg) {
    & > *:not(:first-child) {
      flex: 1;
    }
  }
}
