.Layout {
  display: flex;
  height: 100%;

  @include break-down($lg) {
    flex-direction: column;

    [main-loading-component] {
      height: auto;
      width: auto;
      min-height: auto;
      min-width: auto;
    }
  }
}

.root {
  flex: 1 1 auto;
  overflow-y: auto;

  @include break-up($lg) {
    height: 100%;
  }

  @include break-down($lg) {
    height: 0;
  }

  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
  }
}
