.Search {
  display: flex;
  height: 100%;
  gap: 2rem;
}

$padding-block: 2rem;
$padding-inline: 4rem;

.sidebar {
  width: fluid(16rem, 40rem);
  padding-left: $padding-inline;
  padding-block: $padding-block;

  @include break-down($lg) {
    display: none;
  }
}

.content,
.main {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

.main {
  overflow-y: auto;
}

.controls,
.main {
  padding-right: $padding-inline;

  @include break-down($lg) {
    $min-padding: calc($padding-inline / 2);
    $max-padding: calc($padding-inline * 5);
    padding-inline: fluid($min-padding, $max-padding);

    :global(.wrapper) {
      max-width: 70rem;
    }
  }
}

.controls {
  padding-block: $padding-block calc($padding-block / 1.25);

  @include break-down($lg) {
    background: v(c200);
  }
}
.main {
  padding-block: calc($padding-block / 1.25) $padding-block;
}
