.FontSize {
}

.controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  p {
    @include font(st1);
  }

  input {
    appearance: none;
    border-radius: 0.5rem;
    height: 0.75rem;
    background: v(c100);
    display: block;
  }
}

.sample {
  text-align: center;
  margin-block: 0.75em 1em;
}
