.colorRange {
  position: relative;
  z-index: 1;
  appearance: none;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
  height: 0.5em;
  width: 100%;
  display: block;
  outline: none;
  margin: 4rem auto;
  transition: color 0.05s linear;
  background: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );

  &::-moz-range-track {
    appearance: none;
    opacity: 0;
    outline: none !important;
  }

  &::-ms-track {
    outline: none !important;
    appearance: none;
    opacity: 0;
  }

  @mixin content {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    appearance: none;
    background: v(accent);
  }

  &::-webkit-slider-thumb {
    @include content;
  }

  &::-moz-range-thumb {
    @include content;
  }
}
