@use 'sass:string';
@forward './sizes';
@forward './fluid';
@forward './break';

@function v($name) {
  @return var(--#{$name});
}

@mixin transition($props, $duration: moderate, $timing: ease-in-out) {
  transition-property: string.unquote($props);
  transition-duration: var(--#{$duration});
  transition-timing-function: $timing;
}

@mixin svg-size($size) {
  max-width: $size;
  max-height: $size;
  min-width: $size;
  min-height: $size;
  width: $size;
  height: $size;
}

@mixin theme($theme: dark) {
  html[theme='#{$theme}'] & {
    @content;
  }
}
