$s-0: 0rem;
$s-2: 0.2rem;
$s-4: 0.4rem;
$s-6: 0.6rem;
$s-8: 0.8rem;
$s-10: 1rem;
$s-12: 1.2rem;
$s-14: 1.4rem;
$s-16: 1.6rem;
$s-18: 1.8rem;
$s-20: 2rem;
$s-24: 2.4rem;
$s-28: 2.8rem;
$s-32: 3.2rem;
$s-36: 3.6rem;
$s-40: 4rem;
$s-44: 4.4rem;
$s-48: 4.8rem;
$s-52: 5.2rem;
$s-56: 5.6rem;
$s-60: 6rem;
$s-64: 6.4rem;
$s-72: 7.2rem;
$s-80: 8rem;
$s-84: 8.4rem;
$s-92: 9.2rem;
$s-96: 9.6rem;
$s-120: 12rem;
