$accent: #406bbf;
$gray-500: #264073;
$gray-400: #6689cc;
$gray-300: #9fb5df;
$gray-200: #c6d3ec;
$gray-100: #d9e1f2;
$background: #ecf0f9;
$foreground: #132039;
$category-urgent-lighter: #e1f2d9;
$category-urgent-active: #d2ecc6;
$category-urgent-normal: #b5df9f;
$category-urgent-light: #88cc66;
$category-urgent: #6abf40;
$category-urgent-dark: #407326;
$category-urgent-foreground: #203913;

$box-shadow: 0px 5px 25px 0px #1320394d;
