@use './abstracts/core' as *;

html {
  scroll-behavior: smooth;
  // user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  @include font('bd1');
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  @include font('h1');
}
h2 {
  @include font('h2');
}
h3 {
  @include font('h3');
}
h4 {
  @include font('h4');
}
h5 {
  @include font('h5');
}
h6 {
  @include font('h6');
}

button {
  @include font(btn1);
}

#Root {
  min-height: 100vh;
}

::selection {
  background: var(--accent);
  color: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}

::-webkit-scrollbar {
  width: 0.75rem;
  background: var(--background);
}
