:root {
  --hue: 220;
  --sat: 50%;

  --l1: 95%;
  --l2: 90%;
  --l3: 85%;
  --l4: 75%;
  --l5: 60%;
  --l6: 55%;
  --l7: 45%;
  --l8: 50%;
  --l9: 30%;
  --l10: 15%;

  &[theme='dark'] {
    --l1: 10%;
    --l2: 20%;
    --l3: 30%;
    --l4: 45%;
    --l5: 55%;
    --l6: 60%;
    --l7: 75%;
    --l9: 80%;
    --l10: 90%;
  }
}

:root {
  --background: hsl(var(--hue), var(--sat), var(--l1));
  --c100: hsl(var(--hue), var(--sat), var(--l2));
  --c200: hsl(var(--hue), var(--sat), var(--l3));
  --c300: hsl(var(--hue), var(--sat), var(--l4));
  --c400: hsl(var(--hue), var(--sat), var(--l5));
  --c500: hsl(var(--hue), var(--sat), var(--l6));
  --c600: hsl(var(--hue), var(--sat), var(--l7));
  --accent: hsl(var(--hue), var(--sat), var(--l8));
  --c700: hsl(var(--hue), var(--sat), var(--l9));
  --foreground: hsl(var(--hue), var(--sat), var(--l10));

  --error: hsl(0, var(--sat), var(--l8));

  --logo-bg: var(--accent);
  --logo-c1: hsl(var(--hue), var(--sat), var(--l2));
  --logo-c2: hsl(var(--hue), var(--sat), var(--l4));
  --logo-c3: hsl(var(--hue), var(--sat), var(--l8));
}
