:root {
  --hue: 220;
  --sat: 50%;
  --l1: 95%;
  --l2: 90%;
  --l3: 85%;
  --l4: 75%;
  --l5: 60%;
  --l6: 55%;
  --l7: 45%;
  --l8: 50%;
  --l9: 30%;
  --l10: 15%;
}

:root {
  --c000: hsl(var(--hue), var(--sat), var(--l1));
  --c100: hsl(var(--hue), var(--sat), var(--l2));
  --c200: hsl(var(--hue), var(--sat), var(--l3));
  --c300: hsl(var(--hue), var(--sat), var(--l4));
  --c400: hsl(var(--hue), var(--sat), var(--l5));
  --c450: hsl(var(--hue), var(--sat), var(--l6));
  --c500: hsl(var(--hue), var(--sat), var(--l7));
  --c600: hsl(var(--hue), var(--sat), var(--l8));
  --c700: hsl(var(--hue), var(--sat), var(--l9));
  --c800: hsl(var(--hue), var(--sat), var(--l10));

  --background: var(--c000);
  --foreground: var(--c800);
  --accent: var(--c600);

  --logo-bg: var(--accent);
  --logo-c1: hsl(var(--hue), var(--sat), var(--l2));
  --logo-c2: hsl(var(--hue), var(--sat), var(--l4));
  --logo-c3: hsl(var(--hue), var(--sat), var(--l8));
}
