@use '$styles/abstracts/core' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

input,
button,
.button,
.focus,
textarea,
select {
  font: inherit;
  color: inherit;
  outline-width: 0;
  outline-color: var(--accent);
  outline-style: solid;
  border: 0;
  @include transition('outline', fast);
  @include font(btn1);
}

input,
textarea,
select {
  &:focus {
    outline-width: 0.15em;
  }
}

button,
.button,
.focus {
  &:focus-visible {
    --size: 0.2em;
    outline-width: var(--size);
    outline-style: dotted;
    outline-offset: var(--size);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none;
}
