:root {
  --s1: 0.8rem;
  --s2: 1.2rem;
  --s3: 1.6rem;
  --s4: 2rem;
  --s5: 2.4rem;
  --s6: 2.8rem;
  --s7: 3.2rem;
  --s8: 3.6rem;
  --s9: 4rem;
  --s10: 4.8rem;
  --s11: 6.4rem;
  --s12: 7.2rem;
  --s13: 8.4rem;
  --s14: 9.6rem;
}
