%common {
  display: block;
  width: 100%;
  border: 1px solid v(c200);
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
  outline-color: v(c300);
  @include font('bd1');
}

.inputGroup {
  display: flex;
  gap: 1.2rem;
  padding-block: 0.8rem;

  & {
    margin-top: 0;
  }

  &,
  &__input {
    & > * {
      flex: 1;
    }
  }

  &__input {
    display: flex;
    gap: 1rem;
  }

  p {
    @include font('bd2');
    margin-bottom: 0.4rem;
    font-weight: 500;
  }

  input {
    @extend %common;
    color: v(c600);
    background: v(c100);
  }
}

.buttonContainer {
  margin-top: 1rem;
}

.error {
  color: v(error);
  text-align: center;
  @include font('bd1');
}

.button {
  @extend %common;
  @include font('btn1');
  position: relative;
  background: v(c600);
  color: v(background);
  margin-top: 0.4rem;

  &[disabled] {
    cursor: not-allowed;
  }
}
