%common {
  display: block;
  width: 100%;
  border: 1px solid v(c200);
  border-radius: $s4;
  padding: $s6 $s12;
  outline-color: v(c300);
}

.inputGroup {
  display: flex;
  gap: $s12;
  padding-block: $s8;

  & {
    margin-top: 0;
  }

  &,
  &__input {
    & > * {
      flex: 1;
    }
  }

  &__input {
    display: flex;
    gap: $s10;
  }

  p {
    margin-bottom: $s4;
    font-size: $s14;
    font-weight: 500;
  }

  input {
    color: v(c500);
    background: v(c100);
    @extend %common;
  }
}

.button {
  @extend %common;
  background: v(c500);
  color: v(background);
  margin-top: $s14;
  font-size: fluid($s14, $s16);
}
