.form {
  &__title {
    line-height: 1.2;
    margin-bottom: 0.7em;
    color: v(accent);
    font-weight: normal;
  }

  input {
    width: 100%;
  }

  a {
    color: v(accent);
  }
}

.statusLabel {
  margin-top: 1rem;
  text-align: center;
  @include font(bd2);
}
