.form {
  &__title {
    font-size: $s-32;
    line-height: 1.2;
    margin-bottom: 0.7em;
    color: v(accent);
  }

  input {
    width: 100%;
  }

  a {
    color: v(accent);
  }
}

.statusLabel {
  font-size: fluid($s-14, $s-16);
  margin-top: $s-10;
  text-align: center;
}
