.image {
  $size: 8.4rem;
  height: $size;
  width: $size;
  margin-inline: auto;

  &__preview {
    height: 100%;
    background-color: v(c300);
    width: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
  }

  svg {
    $size: 3.2rem;
    width: $size;
    height: $size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    path {
      fill: v(c400);
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  input[type='file'] {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
  }

  input[type='file']:focus + &__preview {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--c600);
  }
}
