.form {
  &__header {
    color: v(accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $s-44;
    font-size: $s-20;

    button,
    p {
      padding: $s-6;
    }

    button {
      background: none;
      border: none;
      border-radius: 50%;

      svg {
        height: $s-24;
        width: $s-24;

        path {
          fill: currentColor;
        }
      }
    }

    p {
    }
  }
}

.statusText {
  margin-top: $s-8;
  font-size: fluid($s-14, $s-16);
  text-align: center;
}
