.form {
  &__header {
    color: v(accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.4rem;

    button,
    p {
      padding: 0.6rem;
    }

    button {
      background: none;
      border: none;
      border-radius: 50%;

      svg {
        height: 2.4rem;
        width: 2.4rem;

        path {
          fill: currentColor;
        }
      }
    }
  }
}

.statusText {
  margin-top: 0.8rem;
  @include font(bd2);
  text-align: center;
}
