@use '@abs/core' as *;

.landingPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);

  & > *:last-child {
    flex: 1;
  }

  :global(.--) {
    padding-inline: $s64;
  }
}
