.landingPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: v(background);

  & > *:last-child {
    flex: 1;
  }

  :global(.wrapper) {
    padding-inline: fluid($s-12, $s-72, 1000);
  }
}
