.landingPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: v(background);

  & > *:last-child {
    flex: 1;
  }

  :global(.--) {
    padding-inline: fluid($s12, $s72, 1000);
  }
}
