.wrapper {
  width: 100%;
  max-width: 144rem;
  margin-inline: auto;
}

.scroll-inside-flex {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0;
}

.visually-hidden {
  position: absolute;
  z-index: -999;
  height: 0;
  width: 0;
  font-size: 0;
  opacity: 0;
  overflow: hidden;
}
