.logo {
  $size: fluid($s-32, $s-36);
  display: flex;
  gap: fluid($s-8, $s-12);
  align-items: center;

  svg {
    height: $size;
    width: $size;
  }

  h1 {
    color: v(accent);
    font-size: calc($size - $s-4);
  }
}
