.loading {
  --gap: clamp(5.5rem, 16vw, 12rem);
  --logoSize: clamp(5rem, 12vw, 10rem);
  background: var(--background);
  position: fixed;
  inset: 0;
  display: grid;
  gap: var(--gap);
  place-content: center;
  justify-items: center;

  svg {
    height: var(--logoSize);
    width: var(--logoSize);
  }
}

// ............................................................................

.loader {
  --color: hsl(var(--hue), var(--sat), var(--l4));
  --size: clamp(var(--s0), 1.5vw, var(--s2));

  color: var(--color);
  position: relative;
  font-size: var(--size);
  background: var(--color);
  animation: escaleY 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2em;
  background: var(--color);
  width: 1em;
  height: 4em;
  animation: escaleY 1s infinite ease-in-out;
}
.loader:before {
  left: -2em;
  animation-delay: -0.32s;
}

@keyframes escaleY {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
