.loading {
  $gap: clamp($s56, 16vw, $s120);
  background: v(background);
  position: fixed;
  inset: 0;
  display: grid;
  gap: $gap;
  place-content: center;
  justify-items: center;

  svg {
    $logoSize: clamp($s52, 12vw, $s96);
    height: $logoSize;
    width: $logoSize;
  }
}

// .............................................

.loader {
  color: hsl(v(hue), v(sat), v(l4));
  position: relative;
  font-size: clamp($s4, 1.5vw, $s12);
  background: currentColor;
  animation: escaleY 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2em;
  background: currentColor;
  width: 1em;
  height: 4em;
  animation: escaleY 1s infinite ease-in-out;
}
.loader:before {
  left: -2em;
  animation-delay: -0.32s;
}

@keyframes escaleY {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
