.group {
  margin-bottom: 1.5rem;

  input {
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    background: v(c100);
  }
}

.groupLabel {
  @include font(btn1);
  margin-bottom: 0.65rem;
  margin-left: 0.25rem;
}

.groupContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
