.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: fit-content;
  margin: auto;
  justify-content: center;
  margin-top: 2rem;
}

.li {
  padding: 0.4rem 0.85rem;
  padding-right: 1.25rem;
}

.button {
  background: v(c100);
  border: 0.2rem solid v(c300);
  border-radius: 100vmax;
  padding: 0.45rem 1.6rem;
  color: v(c400);
}

.section {
  left: 0.5rem;
  background: v(c100);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.8rem -0.4rem v(c700);
}
