.main {
  height: 100%;
  background-color: v(c400);
  padding: fluid(1.2rem, 6.4rem) fluid(1.2rem, 12rem);
  display: grid;
  place-items: center;

  @include break-down($xs) {
    padding: fluid(0.4rem, 12rem);
  }

  @include break-down($xxs) {
    padding: 0;
    display: block;
  }

  :global(.wrapper) {
    background-color: v(background);
    display: flex;
    border-radius: 0.8rem;
    overflow: hidden;
    max-width: 110rem;
    min-height: 53rem;

    @include break-down($md) {
      max-width: 50rem;
      width: 100%;
    }

    @include break-down($xxs) {
      border-radius: 0;
      height: inherit;
    }

    & > * {
      flex: 1;
      padding: fluid(2.4rem, 7.2rem);

      @include break-down($xxs) {
        padding: fluid(1.4rem, 4.8rem);
      }
    }
  }
}

.hero {
  // Skip this section if we don't have enough time
  --background-image: url($assets/login-signup-hero.webp);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: v(c100);
  position: relative;
  isolation: isolate;
  background-image: linear-gradient(90deg, v(c100) 0%, v(c100) 100%),
    v(background-image);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

  &::before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        90deg,
        v(foreground) 0%,
        v(foreground) 100%
      ),
      v(background-image);
    background-position: inherit;
    background-size: inherit;
    background-blend-mode: inherit;
    opacity: 0.9;
  }

  @include break-down($md) {
    display: none;
  }

  &__logo {
    margin-bottom: 3.2rem;

    h4 {
      color: v(c300) !important;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 700;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    a {
      @include font(btn1);
      color: v(background);
      text-decoration: none;
      line-height: 1.25;
      text-align: center;
    }

    .githubLink {
      margin-left: auto;
      font-size: 2rem;
    }
  }
}

.form {
  margin-bottom: 0.8rem;
}
