.main {
  min-height: 100vh;
  background-color: v(c400);
  padding: fluid($s12, $s64) fluid($s12, $s120);
  display: grid;
  place-items: center;
  height: fit-content;

  @include break-down($xs) {
    padding: fluid($s4, $s120);
  }

  @include break-down($xxs) {
    padding: 0;
    display: block;
  }

  :global(.wrapper) {
    background-color: v(background);
    display: flex;
    border-radius: $s8;
    overflow: hidden;
    max-width: 110rem;
    min-height: 53rem;

    @include break-down($md) {
      max-width: 50rem;
      width: 100%;
    }

    @include break-down($xxs) {
      border-radius: 0;
      min-height: 100vh;
    }

    & > * {
      flex: 1;
      padding: fluid($s24, $s72);

      @include break-down($xxs) {
        padding: fluid($s14, $s48);
      }
    }
  }
}

.hero {
  // Skip this section if we don't have enough time
  --background-image: url(@ass/login-signup-hero.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: v(c100);
  position: relative;
  isolation: isolate;
  background-image: linear-gradient(90deg, v(c100) 0%, v(c100) 100%),
    v(background-image);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

  &::before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        90deg,
        v(foreground) 0%,
        v(foreground) 100%
      ),
      v(background-image);
    background-position: inherit;
    background-size: inherit;
    background-blend-mode: inherit;
    opacity: 0.9;
  }

  @include break-down($md) {
    display: none;
  }

  &__logo {
    margin-bottom: $s32;

    h1 {
      color: v(c300) !important;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: $s40;
    font-weight: 700;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: $s24;

    a {
      font-size: $s14;
      color: v(background);
      text-decoration: none;
      line-height: 1.25;
      text-align: center;
    }

    .githubLink {
      margin-left: auto;

      svg {
        height: $s20;

        path {
          fill: currentColor;
        }
      }
    }
  }
}

.form {
  margin-bottom: $s8;
}
