.Task {
  :global(.wrapper) {
    max-width: 100rem;
    padding: fluid(1rem, 5rem);

    @include break-up($lg) {
      padding-top: 1rem;
    }
  }
}

.header {
  background: v(c200);

  :global(.wrapper) {
    padding-bottom: 0;
  }
}

.navProfile {
  display: none;

  @include break-down($lg) {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
}

.taskList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  & > * {
    flex-basis: calc(50% - 2rem);
  }
}
