.Task {
  display: flex;
  flex-direction: column;
  height: 100%;

  :global(.wrapper) {
    padding: fluid(1rem, 10rem);
    padding-bottom: 5rem;

    @include break-up($lg) {
      padding-top: 1rem;
    }
  }
}

.header {
  background: v(c200);
  box-shadow: 0 -1rem 2rem v(c700);

  :global(.wrapper) {
    padding-bottom: 0;
  }
}
