@use '$styles/abstracts/core' as *;

.Nav {
  box-shadow: 0 0 1rem -0.5rem v(foreground);
}

@include break-up($lg) {
  .Nav {
    background-color: v(c100);
    padding: fluid(2rem, 3rem);
    display: flex;
    flex-direction: column;

    &[main-nav-collapse] {
      padding: 1.65rem 1rem 2rem;
    }
  }
}
