.MainNav {
  position: relative;
  background: v(c100);
  display: flex;
  justify-content: center;
  margin-inline: auto;
  gap: fluid(1rem, 15rem);
  padding: 0.6rem;

  @include break-down($xxs) {
    justify-content: space-evenly;
    padding-inline: 1rem;
  }

  :global(.button) {
    text-align: center;
    padding-inline: 0;
    @include font(bd3);
    color: v(accent);

    &:not(.addBtn) {
      background: none;
    }

    & > * {
      display: block;
      margin-inline: auto;
    }

    svg {
      font-size: 1.25em;
      margin-bottom: 0.75rem;

      @include break-down($xxs) {
        margin-bottom: 0;
      }
    }

    span {
      font-weight: 400;

      @include break-down($xxs) {
        display: none;
      }
    }

    &:global(.active) {
      path {
        fill: currentColor;
      }
    }
  }

  .addBtn {
    position: relative;
    z-index: 999;
    --btn-size: 6.5em;
    width: v(btn-size);
    height: v(btn-size);
    border-radius: 50%;
    margin-top: -2.75rem;
    display: grid;
    place-content: center;
    border: 0.65rem solid v(c100);
    outline-offset: 0;

    @include break-down($xxs) {
      --btn-size: 4.35em;
      margin-top: -1.85rem;
      border-width: 0.5rem;
    }

    svg {
      font-size: 2em;
      margin: 0;
    }
  }
}
