.MainNav :global(.button) {
  svg {
    color: v(accent);
  }

  &.addBtn svg {
    color: v(background);
  }
}

@include break-up($lg) {
  @import './MainNav.pc.scss';
}

@include break-down($lg) {
  @import './MainNav.mobile.scss';

  .logoutBtn,
  .addBtn {
    span {
      display: none !important;
    }
  }
}
