@import './index.utils.scss';

.MainNav {
  display: flex;
  flex-direction: column;

  @include NavCollapse {
    width: fit-content;
    margin-inline: auto;
  }

  :global(.button) {
    text-decoration: none;
    $border-radius: 0.5rem;
    --icon-size: 1.2em;
    width: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &.homeBtn {
      border-radius: $border-radius $border-radius 0 0;
    }
    &.profileBtn {
      border-radius: 0 0 $border-radius $border-radius;
    }

    &.addBtn,
    &.logoutBtn {
      border-radius: $border-radius;
    }

    &:not(.addBtn, .logoutBtn, .profileBtn) {
      border-bottom: 0.15rem solid v(c300);
    }

    &:not(.addBtn) {
      background: v(c200);
      text-align: left;

      &:global(.active) {
        background-color: v(c300);
      }
    }

    @include NavCollapse {
      width: fit-content;
      margin-inline: auto;
      padding: 1.25rem;
    }

    svg {
      height: v(icon-size);
      max-height: v(icon-size);
      width: v(icon-size);
      max-width: v(icon-size);
    }

    span {
      @include NavCollapse {
        display: none;
      }
    }
  }

  .addBtn {
    margin-bottom: 3.25rem;
    justify-content: center;
    --icon-size: 0.8em;

    @include NavCollapse {
      --icon-size: 1em;
      border-radius: 50%;
      margin-bottom: 4rem;
    }

    path {
      stroke: currentColor;
    }
  }

  .logoutBtn {
    margin-top: 2.5rem;
  }
}
