@use './index.utils.scss' as *;

.NavFooter {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include NavCollapse {
    flex-direction: column;

    button {
      display: block;
    }
  }

  @include break-down($lg) {
    display: none !important;
  }

  button {
    --btn-size: 1.85rem;
    background: none;
    width: v(btn-size);
    height: v(btn-size);
  }

  svg {
    width: inherit;
    height: inherit;
  }
}

.icons button {
  color: v(accent);
  margin-right: 1.2rem;

  @include NavCollapse {
    --btn-size: 1.7rem;
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}

.toggleNav {
  border-radius: 0.1rem;
  outline: 1px solid v(accent);
  outline-offset: 0.5rem;

  transform: rotate(90deg);
  @include NavCollapse {
    margin-top: 1.5rem;
    transform: rotate(-90deg);
  }
}
