@use './index.utils.scss' as *;

.NavFooter {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include NavCollapse {
    flex-direction: column;

    a {
      display: block;
    }
  }

  @include break-down($lg) {
    display: none !important;
  }

  a,
  button {
    --btn-size: 1.85rem;
    color: v(accent);
    background: none;
    width: v(btn-size);
    height: v(btn-size);
    text-decoration: none;
  }

  svg {
    width: inherit;
    height: inherit;
  }
}

.icons {
  display: flex;
  gap: 1.2rem;

  @include NavCollapse {
    flex-direction: column;
    margin-bottom: 1.2rem;

    a {
      --btn-size: 1.7rem;
    }
  }
}

.toggleNav {
  --btn-size: 3rem !important;
  border-radius: 0.5rem;
  border: 1px solid v(accent);
  padding: 0.6rem;

  transform: rotate(90deg);
  @include NavCollapse {
    margin-top: 1.5rem;
    transform: rotate(-90deg);
  }

  svg {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
