@use './index.utils.scss' as *;

.NavProfile {
  @include break-down($lg) {
    display: none;
  }

  margin-bottom: 2.25rem;

  @include NavCollapse {
    margin-bottom: 0.75rem;
  }
}

.profile {
  color: v(accent);
  text-align: center;
  margin-bottom: 2rem;

  @include break-down($lg) {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    margin-bottom: 0;
  }

  img {
    width: 7.5rem;
    border-radius: 50%;
    margin-inline: auto;
    outline: solid 0.35rem v(accent);
    margin-bottom: 1.25rem;

    @include NavCollapse {
      width: 3.5rem;
    }

    @include break-down($lg) {
      margin-bottom: 0;
      width: 6rem;
      height: 100%;
    }
  }

  p {
    color: v(c700);
    @include font(bd2);
  }

  h6 {
    font-weight: 700;
  }

  p,
  h6 {
    @include NavCollapse {
      display: none;
    }
  }
}

.theme {
  display: flex;
  gap: 0.5rem;
  background: v(c200);
  padding: 0.33rem;

  @include break-down($lg) {
    background: none;
  }

  @include NavCollapse {
    display: none;
  }

  &,
  button {
    border-radius: 0.5rem;
  }

  button {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 1rem;
    background: none;

    @include break-down($lg) {
      display: none;
    }

    &.active {
      background: v(c300);
    }

    svg {
      $size: 1.1em;
      width: $size;
      max-width: $size;
      height: $size;
      min-height: $size;
    }

    span {
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  .toggleTheme {
    display: none;
    
    @include break-down($lg) {
      display: block;
      align-self: center;
      border-radius: 50%;
      font-size: 2rem;
    }
  }
}
