.checkbox {
  background-color: v(background);
  width: 1em;
  height: 1em;
  border-radius: 0.5rem;
  border: 0.2rem solid v(accent);
  color: v(background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
}

.selected {
  background-color: v(accent);
}
