.Dropdown {
  position: relative;
  @include font(btn2);
}

[dropdown-open] .label {
  background: v(active-bg);
}

.body {
  z-index: 1;
  position: absolute;
  top: 100%;
  background: v(c100);
  min-width: 100%;
  width: fit-content;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;

  input[type='radio'] {
    accent-color: v(accent);
  }
}

.Dropdown:not([dropdown-open]) .body {
  display: none;
}

.body.alignRight {
  right: 0;
}

.body.alignLeft {
  left: 0;
}
