.Dropdown {
  width: 100%;
  position: relative;
  @include font(btn2);
}

.Dropdown[open] .button {
  //
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    @include svg-size(1.25em);
  }
}

.body {
  z-index: 1;
  position: absolute;
  top: 100%;
  min-width: fit-content;
  width: 100%;
  margin-top: 0.5rem;
}

.content {
  background: v(c100);
  border-radius: 0.5rem;

  input[type='radio'] {
    accent-color: v(accent);
  }
}

.Dropdown:not([open]) .body {
  display: none;
}

.body.alignRight {
  right: 0;
}

.body.alignLeft {
  left: 0;
}
