.InputPassword {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  right: 0.3em;
  font-size: 1.25em;
  padding: 0.2em;
  border-radius: 50%;
  background: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  outline-color: v(accent);
  
}
