.labelContainer {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  outline-color: v(accent);
  outline-offset: -0.2rem;

  &:focus-visible {
    outline-style: dashed;
    outline-width: 0.2rem;
  }
}
